/*Partie Frontend
***********************/
body, html, footer{
	font-family: 'Puritan', sans-serif;
	background-color: #5B5A60;
	margin: 0px;
	padding: 0px;
}

a:hover{
	text-decoration: inherit;
}

.text_game, .text_frontend, .dashbord{
	height: auto;
	width: 100%;
}

.section-container-frontendgame{
	position: relative;
	
}

.container-fluid{
	padding: 0%;
	margin: 0%;
}

/*PAGE SIGNALEMENT
**********************/
.confirmation, .message{
	border: solid black 2px;
	background: #FBEDE0;
	border-radius: 20px;
	color: #000000;
	margin-left: 10%;
	text-align: center;
}

.confirmation{
	padding: 20px;
	margin-top: 5%;
	margin-bottom: 5%;
}

.confirmation-inscription, .confirmation-deconnexion{
	margin-left: 25%;
}

.confirmation-connexion{
	margin-left: 30%;
}

.link-confirmation{
	font-size: 1em;
	margin-left: 6%;
}

.fa-check-circle{
	color: green;
	margin-right: 20px;
}

/*message qui s'affiche lors des commentaires ou articles*/
.message{
	padding-top: 10px;
	font-size: 20px;
	margin-top: 2%;
	margin-left: 420px;
	font-weight: bold;
	width: 200px;
	height: 100px;
}
/*FIN PAGE SIGNALEMENT
************************/


/*PARTIE HEADER
*****************/
header{
    width: 100%;
    height: 120px;
    background: #4D4C54;
}

.navbar{
    width: 100%;
    height: 120px;
   letter-spacing: 2px;
}

.navbar-brand, .nav-item a{
	color: #FFFFFF!important;
}

.navbar-brand, .nav-item{
	font-size: 1.2vw;
    font-weight: bold;
}

.navbar-nav{
	position: absolute;
	right: 0%;
}
.nav-item{
    padding: 30px;
}

/*FIN HEADER
****************/

/*PARTIE BANNIERE
*******************/
#banniere{
	position: relative;
	width: 100%;
	height: 600px;
	padding: 0px;
}

.ban{
	display: flex;
    width: 100%;
    max-width: 100%;
    height: 600px;
}

.img-fluid{
	width: 100%;
    max-width: 100%;
    height: auto;
}

.intro{
    position: absolute;
    display: flex;
    top: 40%;
    left: 32%;
}

.intro h1{
	text-align: center;
    font-size: 5vw;
    color: #FFFFFF; 
    text-shadow: #000000 4px 4px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}


/*FIN PARTIE BANNIERE
*******************/

/*PARTIE SLIDER
**********************/

#slider {
    height: 600px;
    width: 100%;
    background-color: #000000;
    position: relative;
}

.container_items {
    position: relative;
    width: 99%;
    height: 100%;
}

.item_slider {
    position: absolute;
    height: 90%;
    width: 95%;
    background-color: #737373;
    border: 2px solid #b5ebf2;
    left: 3%;
    top: 5%;
    border-radius: 6px;
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}

.item_content {
    text-align: center;
}

.item_content h2 {
    font-size: 3.2em;
    color: #b5ebf2;
    margin-bottom: 40px;
}

.item_content p {
    color: #b5ebf2;
    font-size: 1.6em;
    margin-bottom: 20px;
}

.button:hover {
    cursor: pointer;
}

.button_left,
.button_right {
    position: absolute;
    top: 45%;
    z-index: 99;
    font-size: 25px;
    color: #c0fafd;
}

.button_right {
    right: 1%;
}

/*FIN PARTIE SLIDER
***********************/


/*DEBUT FOOTER
*******************/
footer{
	align-items: : center;
	display: flex;
	padding-top: 1%;
	bottom: 0%;
	width: 100%;
}

.fa-facebook-square, .fa-twitter-square, .fa-instagram{
	font-size: 2em;
	color: #FFFFFF;
}

.copyright{
	padding-top: 5px;
}

.items-footer{
	margin-top: 10px;
	display: flex;
	width: 300px;
	margin: auto;
	justify-content: space-around;
}

/*FIN FOOTER
*******************/

/*PAGE TOUT LES PERSONNAGES
******************************/
.all-characters-title{
	text-align: center;
	margin-top: 4%;
	margin-bottom: 4%;
	color: #FFFFFF;
}

.all-characters-table{
	background: #4D4C54;
	border: 4px solid #000000;
	width: 40%;
	margin: auto;
	padding: 10px;
}

tbody tr{
	border-bottom: 4px solid #000000;
}

.all-characters-table th{
	color: #FFFFFF;
	letter-spacing: 2px;
	font-size: 1.2em;
	
}

.all-characters-table td{
	color: #FFFFFF;
}

.all-characters-table th, .all-characters-table td{
	text-align: center;
	padding: 10px;
}

/*FIN PAGE TOUT LES PERSONNAGES
******************************/

/*Partie FORMULAIRE
***************************/

#emailHelp, #pseudoHelp, #passwordHelp{

	font-weight: bold;
}
/*FIN PARTIE FORMULAIRE
***************************/

/*PARTIE GAME
*******************/

/*Partie Inventaier et Informations
========================================*/
#container-inventory{
	background-color: #C47134;
	height: auto;
	display: flex;
	width: 100%;
}

#button_inventory{
	width: 10%;
	margin: auto;
	border: none;
	padding: 1%;
	font-weight: bold;
}

.full_inventory{
	background: red;
	color: #FFFFFF;
}

#container-table-button{
	display: flex;
	margin-top: 2%;
	margin-bottom: 1%;
}

.table-inventory{
	width: 35%;
	background: #FFFFFF;
	margin-left: 25%;
}

#button_inventory{
	margin-right: 25%;
}

.table-inventory th{
	padding: 5px;
}

.table-inventory td{
	padding: 5px;
}

.table-inventory td, .table-inventory th{
	border: 2px solid black;
	text-align: center;
}

.text-inventory{
	position: relative;
}

#info-game{
	width: 100%;
	height: auto;
	background: #2B2B2B;
	overflow: auto;
}

#info-game p{
	font-weight: bold;
	margin-top: 1%;
	margin-left: 1%;
	line-height: 5px;
}

.action_objects{
	color: #F2F2F2;
}

.action_enemy{
	color: #DB2B30;
}

.action_player{
	color: #02A676;
}

/*DEBUT TOUT LES OBJETS
**********************/
.all-resume{
	background: #FFFFFF;
}

#title-all-inventory th{
	
	padding: 10px;
	text-align: center;
}

#container-all-inventory td{
	padding: 10px;
}

#container-all-inventory .description{
	width: 20%;
}

#container-all-inventory .damages{
	text-align: center;
}

#container-all-inventory .life{
	width: 10%;
	text-align: center;
}

#container-all-inventory .lifetime{
	width: 15%;
	text-align: center;
}

.fa-pen, .fa-trash-alt{
	color: #000000;
}

.picture{
	width: 20%;
	text-align: center;
}

.img-all-pictures{
	width: 40px;
	height: 40px;
}

.all-pictures{
	width: 8%;
	height: 8%;
}

.btn-all-inventory{
	margin-top: 2%;
}

.btn-all-inventory a{
	color: #000000;
	font-weight: bold;
}
/*FIN TOUT LES OBJETS
*************************/

/*Fin partie Inventaire et Informations
=========================================*/

.container-game{
	position: relative;
	text-align: center;
	color: #FFFFFF;
	margin-top: -4%;
	background: gray;
	height: 100%;
}

.title-start h1{
	font-size: 6vw;
	font-family: "Bradley Hand ITC","sans-serif";
	font-weight: bold;
}

.text-start p{
	font-size: 1.5vw;
	font-family: "Bradley Hand ITC","sans-serif";
	font-weight: bold;
	width: 65%;
	margin: auto;
}

.text_game{
	background: #c5c2c1;
	height: 900px;
}

.impasseOne, .underFour, .impasseThree{
	margin-bottom: 25%;
}

.choise-right, .choise-left, .choise-top, .choise-bottom, .choise-back, .link-endgame{
	margin: 6%;
	color: #000000;
	font-weight: bold;
}

#choise-road, #choise-road-end, #endgame{
	background: #FFFFFF;
	position: absolute;
	bottom: 0%;
	border: 2px solid black;
	border-radius: 10px;
	width: 100%;
}


.title-start{
	margin-top: 4%;
}


#all-apple{
	display: flex;
}


/*Partie combat objets
*************************/

/*SECRETS
===============*/
#secret-rock-fountainTwo{
	position: absolute;
	border: 2px solid yellow;
	bottom: 6%;
	width: 10%;
}

#secret-rock-ville-two-L{
	position: absolute;
	border: 2px solid yellow;
	bottom: 6%;
	right: 1%;
	width: 10%;
}
#secret-rock-under-six{
	position: absolute;
	border: 2px solid yellow;
	bottom: 6%;
	right: 1%;
	width: 10%;
}
#secret-rock-village-fourR{
	position: absolute;
	border: 2px solid yellow;
	bottom: 6%;
	left: 1%;
	width: 10%;
}

/*FIN SECRETS
================*/

/*APPLE
=============*/
.apple-img{
	width: 25%;
	margin-bottom: 3%;
}

#apple1{
	position: absolute;
 	height: 80px;
 	width: 9%;
 	border: 2px solid yellow;
 }

.apple1-index{
	bottom: 10%;
	left: 35%;
}

.apple-fight-four{
	bottom: 5%;
	right: 15%;
}

.apple-chestFive{
	margin-top: 22%;
	margin-left: 26%;
}

.apple1-fightFive-L{
	margin-top: 15%;
	margin-left: 55%;
}

.apple1-villageTwo{
	margin-top: 25%;
	margin-left: 38%;
}

.apple1-villageThree-R{
	left: 44%;
	bottom: 17%;
}

.apple1-village-fiveR{
	left: 30%;
	bottom: 10%;
}

.apple1-chestEightR{
	bottom: 12%;
}

.apple1-underFiveR{
	bottom: 10%;
	right: 26%;
}

/*FIN APPLE
================*/

/*STICK
=============*/
.stick-img{
	width: 40%;
}

#stick1{
	position: absolute;
 	border: solid red 2px;
 	height: 100px;
 	width: 20%;
}

.stick-underOne{
	bottom: 10%;
}

.stick-fightOneL{
 	bottom: 10%;
	left: 20%;
}

.stick-impasse-two{

	margin-top: 25%;
	margin-left: 21%;
}

.stick-chestNineR{
	right: 14%;
	bottom: 7%;
}

.stick-chestFourL{
	bottom: 20%;
}


/*FIN STICK
================*/

/*ACORN
=============*/
.acorn-img{
	width: 35%;
	margin-bottom: 2%;
}

#acorn1{
	position: absolute;
	border: solid orange 2px;
 	height: 100px;
 	width: 10%;	
}

.acorn-village-one{
	bottom: 8%;
	left: 32%;
}

.acorn-under-two{
	bottom: 10%;
	left: 20%;
}

.acorn1-underThree{
	bottom: 4%;
	right: 20%;
}

.acorn1-fightOneR{
	bottom: 12%;
	right: 31%;
}

.acorn1-UnderFourR{
	left: 25%;
	bottom: 4%;
}

.acorn1-UnderSixR{
	bottom: 11%;
	right: 24%;
}

.acorn1-fight-three{
	right: 14%;
	bottom: 4%;
}

/*FIN ACORN
================*/

/*SWORD
=============*/

.sword-img{
	width: 30%;
}

#sword1{
	position: absolute;
	border: solid green 2px;
 	height: 200px;
 	width: 30%;	
}

.swordOne{
	bottom: 14%;
 	left: 8%;
}

.stick-underOne{
	margin-top: 40%;
	margin-left: 80%;
}

.stick-chestFourL{
	margin-top: -10%;
}

.sword-village-fourR{
	bottom: 6%;
	right: 4%;
}

/*FIN SWORD
================*/

/*CHEST
=============*/
.chest-img{
	width: 60%;
}

#chest1{
	position: absolute;
	border: solid red 2px;
 	height: 320px;
 	width: 30%;
}

button#action-open-chest{
	width: 20%;
	margin: auto;
}

.chestOne{
	right: 12%;
	bottom: 15%;
}

.chestTwoL{

	bottom: 12%;
	left: 35%;
}

.chestFightFour-L, .chest-fight-three{
	left: 35%;
	bottom: 12%;
}

.chestFourL{
	top: 40%;
	left: 60%;
}

.chestNineR{
	bottom: 15%;
}

.chestEightR{
	right: 10%;
	bottom: 20%;
}

.chestfightSevenR{
	margin: auto;
}

.chest-under-sixR{
	bottom: 12%;
	left: 42%;
}

/*FIN CHEST
================*/

/*FOUNTAIN
=================*/

.fountain-img{
	width: 60%;
}

#fountain1{
	position: absolute;
	margin-left: 24%;
	border: 1px solid yellow;
	height: 480px;
	width: 50%;
}

/*FIN FOUNTAIN
====================*/

/*GATE
=======================*/
#gate1{
	border: 2px solid blue;
	height: 550px;
}

.gate-img{
	width: 100%;
	height: 100%;
}
/*FIN GATE
==========================*/


/*Fin Partie combat objets
****************************/


/*PARTIE GIF
*********************/
#bat1, .bat_gif{
	width: 320px;
	height: 220px;
	margin: auto;
}

#crow1, .crow_gif{
	width: 180px;
	height: 150px;
}

#crow1{
	margin-bottom: 24%;
	margin-top: 15%;
	margin-left: 43%;
}

#wolf1, .wolf_gif{
	width: 300px;
	height: 200px;
}

.wolf-fight-four, .wolf-fight-three{
	margin-top: 14%;
	margin-left: 42%;
}

.wolf-fight-five{
	margin-bottom: 4%;
}

#troll, .troll_gif{
	width: 280px;
	height: 320px;
	margin: auto;
}

#golem1, .golem_gif{
	width: 340px;
	height: 240px;
}

.golem-fight-sixR{
	margin-left: 40%;
	margin-top: 10%;
}

.ennemi-character{
	margin-top: 4%;
	width: 100%;
}

.ennemi-character tr{
	font-size: 1.2vw;
}

.button-attak-enemy{
	margin-top: 2%;
	font-size: 1.1vw;
}


/*FIN PARTIE GIF
*********************/

/*PARTIE MODAL
********************/
#all-modal-dialog{
	margin-top: 6%;
	margin-left: 10%;
	width: 80%;
	height: auto;
	display: flex;
}

.modal-dialog1, .modal-dialog2, .modal-dialog3{
	height: auto;
}

.modal-dialog1{
	width: 40%;
}

.modal-dialog2, .modal-dialog3{	
	width: 20%;
}

.modal-body2 p{
	font-weight: bold;
}

 span#life, span#damages{
	color : #02A676;
}

.modal-body3{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}


#all-modal-dialog{
	display: flex;
}

.modal-header{
	background: #404040;
	color: #FFFFFF;
}

.modal-header1{
	display: flex;
}

button span{
	padding: 0px 10px 0px 10px;
	transition: 0.5s;
}

button span:hover{
	background: #B0081A;
	border-radius: 5px;
}

.modal-body{
	height: 350px;
}

.modal-body-one{
	display: flex;
	flex-wrap: wrap;
}

#modal-img{
	width: 40%;
	height: 100%;
	border: 2px solid black;
}

#modal-description-player{
	border: 1px solid #737373;
	border-radius: 10px;
	background-color: #737373;
	width: 55%;
	height: 40%;
	margin-left: 4%;
	padding: 10px;
}

#modal-description-player p{
	margin: 0px;
	font-weight: bold;
}

.warrior_png_img{
	width: 100%;
	height: 100%;
}

#btnObject{
	width: 35%;
	height: 10%;
	position: absolute;
	bottom: 1%;
}

#all-modal-objects{
	position: relative;
	display: flex;
	border: 2px solid black;
	flex-wrap: wrap;
	width: 100%;
}


.modal-object{
	width: 16%;
	height: 12%;
	margin-top: 2%;
	margin-bottom: 1%;
	margin-left: 2%;
}

.img-src-modal{
	width: 100%;
}

.modal-object-description{
	border: 1px solid orange;
}

#all-modal-description{
	background: #FFFFFF;
	border: 2px solid black;
	width: 100%;
	height: auto;
	position: absolute;
	left: 92%;
}

#all-modal-objects{
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

.btnModal{
	position: absolute;
	width: 45%;
	height: 12%;
	padding: 2%;
	bottom: 1%;
	border: none;
}

.btnModal a{
	font-weight: bold;
	color: #000000;
}



/*FIN PARTIE MODAL
**********************/

/*FIN PARTIE GAME
*********************/

/*PARTIE BACKEND
**********************/

/*Index
***********/

.informations_backend{
	display: flex;
	justify-content: space-around;
	margin-top: 7%;
}

.informations_backend h2{
	text-align: inherit;
	font-size: 1.4em;
	padding: 10px;
	color: #000000;
	font-weight: bold;
	letter-spacing: 2px;
}

.forest, .cave, .characters, .inventory, .members, .action_game{
	background: #228BE6;
	width: 300px;
	height: 150px;
	transition-property: background;
	transition-duration: 1s;
	margin-left: 1%;
}

.forest:hover, .cave:hover, .characters:hover, .inventory:hover, .members:hover, .action_game:hover{
	background: #FBEDE0;
}
/*Fin Index
****************/

/*FIN PARTIE BACKEND
************************/

/*IMAGES DE FOND
*************************/
.container-index{
	background-image: url("/Web/images/forest_one.jpg");
	background-repeat: no-repeat;
	background-position: bottom;
}

.container-fight{
	background-image: url("/Web/images/fight_one.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.container-chest{
	background-image: url("/Web/images/chest.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.container-village{
	background-image: url("/Web/images/village.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.container-under{
	background-image: url("/Web/images/under.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.container-fountain{
	background-image: url("/Web/images/fountain.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.container-gate{
	background-image: url("/Web/images/gate.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.container-impasse{
	background-image: url("/Web/images/impasse.jpg");
	background-repeat: no-repeat;
	background-position: center;
}



/*FIN IMAGES DE FOND
*************************/

