/*Partie Frontend
***********************/
body, html{
	font-family: "Bradley Hand ITC",'Puritan', 'sans-serif';
	background: #0f0f1b;
	margin: 0px;
	padding: 0px;
}

a:hover{
	text-decoration: inherit;
}

.dashbord{
	height: auto;
	width: 100%;
}

.row{
	width: 100%;
	margin-left: -10%;
}

.text_frontend{
	width: 100%;
}

.container-contenu{
	width: 80%;
}

/*PAGE SIGNALEMENT
**********************/
.confirmation, .message{
	border: solid black 2px;
	background: #FBEDE0;
	border-radius: 20px;
	color: #000000;
	margin-left: 10%;
	text-align: center;
}

.confirmation{
	padding: 20px;
	margin-top: 5%;
	margin-bottom: 5%;
}

.confirmation-inscription, .confirmation-deconnexion{
	margin-left: 25%;
}

.confirmation-connexion{
	margin-left: 30%;
}

.link-confirmation{
	font-size: 1em;
	margin-left: 6%;
}

.fa-check-circle{
	color: green;
	margin-right: 20px;
}

/*message qui s'affiche lors des commentaires ou articles*/
.message{
	padding-top: 10px;
	font-size: 20px;
	margin-top: 2%;
	margin-left: 420px;
	font-weight: bold;
	width: 200px;
	height: 100px;
}
/*FIN PAGE SIGNALEMENT
************************/


/*PARTIE LAYOUT JEU
*******************/
#layout-game{
	position: relative;
	width: 100%;
	padding: 0px;
	height: 900px;
}

.ban{
	display: flex;
    width: 100%;
    max-width: 100%;
    height: 900px;
}

.img-fluid{
	width: 100%;
    max-width: 100%;
    height: 900px;
}

.intro{
    position: absolute;
    display: flex;
    top: 20%;
    left: 12%;
}

.intro h1{
	text-align: center;
    font-size: 5vw;
    color: #FFFFFF; 
    text-shadow: #000000 4px 4px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}


/*FIN PARTIE LAYOUT JEU
*******************/

/*PARTIE NAV
****************/
.navbar{
	position: absolute;
	width: 20%;
	height: 360px;
	letter-spacing: 2px;
	left: 12%;
	bottom: 24%;
}

.nav-item a{
	color: #FFFFFF!important;
}

ul{
	height: 360px;
	left: 0%;
}

.navbar-brand, .nav-item{
	font-size: 1.2vw;
    font-weight: bold;
}

.nav-item:hover{
	background: #000000;
}

.navbar-nav{
	position: absolute;
	right: 0%;
}

.container-contenu{
	position: absolute;
	top: 15%;
	left: 20%;
}

#container-link-back{
	margin-top: 4%;
}

#link-back{
	background: gray;
	padding: 10px;
	border-radius: 4px;
	color: #000000;
	font-weight: bold;
}


/*FIN PARTIE NAV
********************/

/*PARTIE SLIDER
*********************/

#slider {
    height: 600px;
    width: 100%;
    background-color: #000000;
    position: relative;
}

.container_items {
    position: relative;
    width: 99%;
    height: 100%;
}

.item_slider {
    position: absolute;
    height: 90%;
    width: 95%;
    background-color: #737373;
    border: 2px solid #b5ebf2;
    left: 3%;
    top: 5%;
    border-radius: 6px;
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}

.item_content {
    text-align: center;
}

.item_content h2 {
    font-size: 3.2em;
    color: #b5ebf2;
    margin-bottom: 40px;
}

.item_content p {
    color: #b5ebf2;
    font-size: 1.6em;
    margin-bottom: 20px;
}

.button:hover {
    cursor: pointer;
}

.button_left,
.button_right {
    position: absolute;
    top: 45%;
    z-index: 99;
    font-size: 25px;
    color: #c0fafd;
}

.button_right {
    right: 1%;
}

/*FIN PARTIE SLIDER
***********************/


/*DEBUT FOOTER
*******************/
footer{
	background: #0f0f1b;
	align-items: : center;
	display: flex;
	padding-top: 1%;
	bottom: 0%;
	width: 100%;
}

.fa-facebook-square, .fa-twitter-square, .fa-instagram{
	font-size: 2em;
	color: #FFFFFF;
}

.copyright{
	color: #FFFFFF;
	padding-top: 5px;
}

.items-footer{
	margin-top: 10px;
	display: flex;
	width: 300px;
	margin: auto;
	justify-content: space-around;
}

/*FIN FOOTER
*******************/

/*PAGE TOUT LES PERSONNAGES
******************************/

.container-characters{
	background: #FFFFFF;
	border: 1px solid black;
	width: 30%;
	height: auto;
	margin-bottom: 4%;
}

.container-all-characters{
	width: 100%;
}

#all-container-characters{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.all-characters-title{
	text-align: center;
	margin-top: 4%;
	margin-bottom: 4%;
	color: #FFFFFF;
}

.all-characters-table{
	background: #4D4C54;
	border: 4px solid #000000;
	width: 40%;
	margin: auto;
	padding: 10px;
}

.link-all-characters{
	margin-left: 2%;
}

/*FIN PAGE TOUT LES PERSONNAGES
******************************/

/*Partie FORMULAIRE
***************************/

#all-container-inscription, #all-container-connexion{
	border-radius: 15px;
	padding: 20px;
	margin-top: 4%;
	width: 100%;
	background: rgba(0,0,0,0.5);
}

#emailHelp, #pseudoHelp, #passwordHelp{

	font-weight: bold;
}

.title-form{
	color: #FFFFFF;
	font-weight: bold;
}

label{
	color: #FFFFFF;
}


/*FIN PARTIE FORMULAIRE
***************************/

/*PARTIE GAME
*******************/
#message_fail{
	color: red;
	font-size: 6vw;
	font-weight: bold;
	position: absolute;
	top: 25%;
	right: -80%;
	z-index: 2;
	width: 800px;
	transform: rotate(-8deg);
	background: rgba(255,255,255,0.5);
	text-align: center;
	border-radius: 20px;
}

#title_endgame{
	color: #FFFFFF;
	position: absolute;
	top: 45%;
	left: 36%;
	font-size: 6vw;
}

#return_home{
	position: absolute;
	background: rgba(250,250,250, 0.6);
	width: 50px;
	height: 50px
	top: 0%;
	right: 0%;
}

.img_home{
	
	width: 50px;
	height: 50px;
}

.section-container-frontendgame{
	position: relative;
	height: 965px;
}

.container-game{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	right: 0%;
}

.title-start, .text-start{
	color: #FFFFFF;
}

.title-start{
	margin-top: 4%;
	text-align: center;
}


.title-start h1{
	font-size: 6vw;
	font-family: "Bradley Hand ITC","sans-serif";
	font-weight: bold;
}

.text-start p{
	font-size: 1.5vw;
	font-family: "Bradley Hand ITC","sans-serif";
	font-weight: bold;
	width: 65%;
	margin: auto;
	text-align: center;
}

#container-table-button{
	color: #FFFFFF;
	background: rgba(0,0,0,0.5);
	position: absolute;
	right: 0%;
	bottom: 0%;
	width: 20%;
	height: 6%;
	display: flex;
}

#info-game{
	color: #FFFFFF;
	background: rgba(0,0,0,0.5);
	position: absolute;
	left: 0%;
	bottom: 0%;
	width: 20%;
	height: 10%;
	overflow: auto;
	font-family: 'Puritan', 'sans-serif';
}

#button_inventory{
	position: relative;
	width: 50px;
	height: 50px;
}

.img_inventory{
	position: absolute;
	left: 0%;
	top: 0%;
	width: 50px;
	height: 50px;
}

.table-inventory{
	width: 100%;
}

.impasseOne, .underFour, .impasseThree{
	margin-bottom: 25%;
}


#choise-road, #choise-road-end, #endgame{
	position: absolute;
	right: 38%;
	bottom: 0%;
	border-radius: 10px;
	width: 20%;
	height: 70px;
	background: rgba(255,255,255, 0.5);
}

.arrow{
	width: 26%;
}

.arrow-top, .arrow-back{
	margin-left: 35%;
}

.arrow:hover{
	transform: scale(1.2);
}

.choise-right{
	margin-left: 45%;
}


#all-apple{
	display: flex;
}

/*Partie Inventaire et Informations
========================================*/

.full_inventory{
	background: red;
	color: #FFFFFF;
}


.action_objects{
	color: #F2F2F2;
}

.action_enemy{
	color: #DB2B30;
}

.action_player{
	color: #02A676;
}

/*DEBUT TOUT LES OBJETS
**********************/
.all-resume{
	background: #FFFFFF;
}

.all-resume-inventory{
	border: 2px solid orange;
}

#title-all-inventory th{
	
	padding: 10px;
	text-align: center;
}

#container-all-inventory td{
	padding: 10px;
}

#container-all-inventory .description{
	width: 20%;
}

#container-all-inventory .damages{
	text-align: center;
}

#container-all-inventory .life{
	width: 10%;
	text-align: center;
}

#container-all-inventory .lifetime{
	width: 15%;
	text-align: center;
}

.fa-pen, .fa-trash-alt{
	color: #000000;
}

.picture{
	width: 20%;
	text-align: center;
}

.img-all-pictures{
	width: 40px;
	height: 40px;
}

.all-pictures{
	width: 8%;
	height: 8%;
}

.btn-all-inventory{
	margin-top: 2%;
}

.btn-all-inventory a{
	color: #000000;
	font-weight: bold;
}
/*FIN TOUT LES OBJETS
*************************/

/*Fin partie Inventaire et Informations
=========================================*/

/*PARTIE COMBATS
**********************************************/
.name-character{
	color: #FFFFFF;
}

.stats-character{
	color:#FFFFFF;
}

.button-attak-enemy{
	margin-left: 35%;

}
/*FIN PARTIE COMBATS
**********************************************/

/*Partie combat objets
*************************/

/*SECRETS
===============*/
#secret-rock-fountainTwo{
	position: absolute;
	border: 2px solid yellow;
	bottom: 6%;
	width: 10%;
}

#secret-rock-ville-two-L{
	position: absolute;
	border: 2px solid yellow;
	bottom: 6%;
	right: 1%;
	width: 10%;
}
#secret-rock-under-six{
	position: absolute;
	border: 2px solid yellow;
	bottom: 6%;
	right: 1%;
	width: 10%;
}
#secret-rock-village-fourR{
	position: absolute;
	border: 2px solid yellow;
	bottom: 6%;
	left: 1%;
	width: 10%;
}

/*FIN SECRETS
================*/

/*APPLE
=============*/
.apple-img{
	width: 25%;
	margin-bottom: 3%;
}

#apple1{
	position: absolute;
 	height: 80px;
 	width: 9%;
 }

.apple1-index{
	bottom: 10%;
	left: 35%;
}

.apple-fight-four{
	bottom: 5%;
	right: 15%;
}

.apple-chestFive{
	margin-top: 22%;
	margin-left: 26%;
}

.apple1-fightFive-L{
	margin-top: 15%;
	margin-left: 55%;
}

.apple1-villageTwo{
	margin-top: 25%;
	margin-left: 38%;
}

.apple1-villageThree-R{
	left: 44%;
	bottom: 17%;
}

.apple1-village-fiveR{
	left: 30%;
	bottom: 10%;
}

.apple1-chestEightR{
	bottom: 12%;
}

.apple1-underFiveR{
	bottom: 10%;
	right: 26%;
}

.apple1-impasseFour{
	left: 20%;
	bottom: 14%;
}

/*FIN APPLE
================*/

/*STICK
=============*/
.stick-img{
	width: 40%;
}

#stick1{
	position: absolute;
 	height: 100px;
 	width: 20%;
}

.stick-underOne{
	bottom: 10%;
}

.stick-fightOneL{
 	bottom: 10%;
	left: 20%;
}

.stick-impasse-two{

	margin-top: 25%;
	margin-left: 21%;
}

.stick-chestNineR{
	right: 14%;
	bottom: 7%;
}

.stick-chestFourL{
	bottom: 20%;
}


/*FIN STICK
================*/

/*ACORN
=============*/
.acorn-img{
	width: 35%;
	margin-bottom: 2%;
}

#acorn1{
	position: absolute;
 	height: 100px;
 	width: 10%;	
}

.acorn-village-one{
	bottom: 8%;
	left: 32%;
}

.acorn-under-two{
	bottom: 10%;
	left: 20%;
}

.acorn1-underThree{
	bottom: 4%;
	right: 20%;
}

.acorn1-fightOneR{
	bottom: 12%;
	right: 31%;
}

.acorn1-UnderFourR{
	left: 25%;
	bottom: 4%;
}

.acorn1-UnderSixR{
	bottom: 11%;
	right: 24%;
}

.acorn1-fight-three{
	right: 14%;
	bottom: 4%;
}

/*FIN ACORN
================*/

/*SWORD
=============*/

.sword-img{
	width: 30%;
}

#sword1{
	position: absolute;
 	height: 200px;
 	width: 30%;	
}

.swordOne{
	bottom: 14%;
 	left: 8%;
}

.stick-underOne{
	margin-top: 40%;
	margin-left: 80%;
}

.stick-chestFourL{
	margin-top: -10%;
}

.sword-village-fourR{
	bottom: 6%;
	right: 4%;
}

/*FIN SWORD
================*/

/*CHEST
=============*/
.chest-img{
	width: 60%;
}

#chest1{
	position: absolute;
 	height: 320px;
 	width: 30%;
}

button#action-open-chest{
	width: 20%;
	margin: auto;
}

.chestOne{
	right: 12%;
	bottom: 15%;
}

.chestTwoL{

	bottom: 12%;
	left: 35%;
}

.chestFightFour-L, .chest-fight-three{
	left: 20%;
	bottom: 14%;
}

.chestFourL{
	top: 40%;
	left: 60%;
}

.chestNineR{
	bottom: 15%;
}

.chestEightR{
	right: 10%;
	bottom: 20%;
}

.chestfightSevenR{
	left: 14%;
	bottom: 14%;
}

.chest-under-sixR{
	bottom: 12%;
	left: 42%;
}

/*FIN CHEST
================*/

/*FOUNTAIN
=================*/

.fountain-img{
	width: 60%;
}

#fountain1{
	position: absolute;
	margin-left: 24%;
	height: 480px;
	width: 50%;
}

/*FIN FOUNTAIN
====================*/

/*GATE
=======================*/
#gate1{
	height: 550px;
	position: absolute;
}

.gate-img{
	width: 100%;
	height: 100%;
}

.gate-end{
	bottom: 14%;
	left: 5%;
}

#action_portal1{
	text-align: center;
}
/*FIN GATE
==========================*/


/*Fin Partie combat objets
****************************/


/*PARTIE GIF
*********************/
#bat1, .bat_gif{
	width: 320px;
	height: 220px;
	margin: auto;
	position: relative;
}

#crow1, .crow_gif{
	width: 320px;
	height: 220px;
	position: relative;
}

#crow1{
	margin-top: 10%;
	margin-left: 40%;
}

#wolf1, .wolf_gif{
	width: 300px;
	height: 200px;
	position: relative;
}

.wolf-fight-four, .wolf-fight-three{
	margin-top: 14%;
	margin-left: 42%;
}

.wolf-fight-five{
	margin-bottom: 4%;
}

#troll, .troll_gif{
	width: 280px;
	height: 320px;
	margin: auto;
	position: relative;
}

#golem1, .golem_gif{
	width: 340px;
	height: 240px;
	position: relative;
}

.golem-fight-sixR, .golem-fight-twoR{
	margin-left: 40%;
	margin-top: 10%;
}


#demon1, .devil_gif{
	width: 340px;
	height: 240px;
}

.demon-fight-sixR, .demon-fight-FiveR{
	margin-left: 40%;
	margin-top: 10%;
	position: relative;
}

.ennemi-character{
	margin-top: 4%;
	width: 100%;
}

.ennemi-character tr{
	font-size: 1.2vw;
}

.button-attak-enemy{
	margin-top: 2%;
	font-size: 1.1vw;
}


/*FIN PARTIE GIF
*********************/

/*PARTIE MODAL
********************/
#all-modal-dialog{
	margin-top: 6%;
	margin-left: 10%;
	width: 80%;
	height: auto;
	display: flex;
}

.modal-dialog1, .modal-dialog2, .modal-dialog3{
	height: auto;
}

.modal-dialog1{
	width: 40%;
}

.modal-dialog2, .modal-dialog3{	
	width: 20%;
}

.modal-body2 p{
	font-weight: bold;
}

 span#life, span#damages{
	color : #02A676;
}

.modal-body3{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}


#all-modal-dialog{
	display: flex;
}

.modal-header{
	background: #404040;
	color: #FFFFFF;
}

.modal-header1{
	display: flex;
}

button span{
	padding: 0px 10px 0px 10px;
	transition: 0.5s;
}

button span:hover{
	background: #B0081A;
	border-radius: 5px;
}

.modal-body{
	height: 350px;
}

.modal-body-one{
	display: flex;
	flex-wrap: wrap;
}

#modal-img{
	width: 40%;
	height: 100%;
	border: 2px solid black;
}

#modal-description-player{
	border: 1px solid #737373;
	border-radius: 10px;
	background-color: #737373;
	width: 55%;
	height: 40%;
	margin-left: 4%;
	padding: 10px;
}

#modal-description-player p{
	margin: 0px;
	font-weight: bold;
}

.warrior_png_img{
	width: 100%;
	height: 100%;
}

#btnObject{
	width: 35%;
	height: 10%;
	position: absolute;
	bottom: 1%;
}

#all-modal-objects{
	position: relative;
	display: flex;
	border: 2px solid black;
	flex-wrap: wrap;
	width: 100%;
}


.modal-object{
	width: 16%;
	height: 12%;
	margin-top: 2%;
	margin-bottom: 1%;
	margin-left: 2%;
}

.img-src-modal{
	width: 100%;
}

.modal-object-description{
	border: 1px solid orange;
}

#all-modal-description{
	background: #FFFFFF;
	border: 2px solid black;
	width: 100%;
	height: auto;
	position: absolute;
	left: 92%;
}

#all-modal-objects{
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

.btnModal{
	position: absolute;
	width: 45%;
	height: 12%;
	padding: 2%;
	bottom: 1%;
	border: none;
}

.btnModal a{
	font-weight: bold;
	color: #000000;
}



/*FIN PARTIE MODAL
**********************/

/*FIN PARTIE GAME
*********************/

/*PARTIE BACKEND
**********************/

/*Index
***********/

.containt-admin{
	display: flex;
}

.fa-home{
	color: #FFFFFF;
}

.title-admin{
	text-align: center;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 2.6vw;
	margin-top: 2%;
	background: red;
}

.informations_backend{
	display: flex;
	justify-content: space-around;
	margin-top: 7%;
	margin-bottom: 4%;
}

.informations_backend h2{
	text-align: inherit;
	font-size: 1.4em;
	padding: 10px;
	font-weight: bold;
	letter-spacing: 2px;
	color: white
}

.forest, .cave, .characters, .inventory, .members, .action_game{
	background: #161821;
	width: 300px;
	height: 150px;
	transition-property: background;
	transition-duration: 1s;
	margin-left: 1%;
}

.forest:hover, .cave:hover, .characters:hover, .inventory:hover, .members:hover, .action_game:hover{
	background: #FBEDE0;
}
/*Fin Index
****************/

/*Partie Forest
********************/
.all-resume-forest{
	background: #BFBFBF;
}

#all-forest-table{
	margin: auto;
}

#all-forest-table th{
	text-align: center;
	background: #000000;
	color: #FFFFFF;
	font-size: 1.2vw;
}

#all-forest-table td{
	text-align: center;
	padding: 10px;
	font-size: 1vw;
	font-family: "sans sherif";
}

#all-forest-table th.title{
	width: 15%;
	text-align: center;
}

#all-forest-table th.type{
	width: 10%;
	text-align: center;
}

#all-forest-table td.title, #all-forest-table td.type{
	font-weight: bold;
}

#all-forest-table th.action{
	width: 10%;
	text-align: center;
}

.btn-all-forest{
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 0%;
}

.btn-all-forest a{
	color: #000000;
	font-weight: bold;
}
/*Fin Partie Forest
**********************/

/*Partie Characters
***********************/
.all-resume-characters{
	background: #BFBFBF;
}

#all-characters-table-backend{
	width: 60%;
	margin: auto;
}

#all-characters-table-backend th{
	text-align: center;
	background: #000000;
	color: #FFFFFF;
	font-size: 1.2vw;
}

#all-characters-table-backend td{
	text-align: center;
	padding: 10px;
	font-size: 1vw;
	font-family: "sans sherif";
}

#all-characters-table-backend th.name{
	width: 16%;
	text-align: center;
}

#all-characters-table-backend th.type{
	width: 10%;
	text-align: center;
}

#all-characters-table-backend th.damages{
	width: 12%;
	text-align: center;
}

#all-characters-table-backend th.life{
	width: 12%;
	text-align: center;
}

#all-characters-table-backend td.name, #all-characters-table-backend td.type{
	font-weight: bold;
}

#all-characters-table-backend th.action{
	width: 10%;
	text-align: center;
}

.btn-all-characters{
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 20%;
}

.btn-all-characters a{
	color: #000000;
	font-weight: bold;
}
/*Fin Partie Characters
**************************/

/*Partie Inventory
**************************/
.informations_backend{
	width: 100%;
	border: 4px solid orange;
	height: auto;
	display: flex;
	flex-wrap: wrap;
}

.item-back{
	margin-bottom: 2%;
}

.fa-clipboard-list, .pen-item{
	position: absolute;
	color: #FFFFFF;
	top: 4%;
	right: 4%;
	font-size: 1.5vw;
}

.link-all-items-game{
	position: absolute;
	left: 0%;
}

.lists-game, .write-game{
	position: relative;
	display: flex;
}

.all-resume-inventory{
	background: #BFBFBF;
	margin-bottom: 4%;
}

#all-inventory-table-backend{
	margin: auto;
}

#all-inventory-table-backend th{
	text-align: center;
	background: #000000;
	color: #FFFFFF;
	font-size: 1.2vw;
}

#all-inventory-table-backend td{
	text-align: center;
	padding: 10px;
	font-size: 1vw;
	font-family: "sans sherif";
}

#all-inventory-table-backend th.name{
	width: 16%;
	text-align: center;
}

#all-inventory-table-backend th.description{
	width: 18%;
	text-align: center;
}


.btn-all-inventory{
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 5%;
}

.btn-all-inventory a{
	color: #000000;
	font-weight: bold;
}
/*Fin Partie Inventory
******************************/
.all-resume-member{
	background: #BFBFBF;
	margin-bottom: 4%;
}

#all-member-table-backend{
	margin: auto;
	width: 100%;
}

#all-member-table-backend th{
	text-align: center;
	background: #000000;
	color: #FFFFFF;
	font-size: 1.2vw;
}

#all-member-table-backend td{
	text-align: center;
	padding: 10px;
	font-size: 1vw;
	font-family: "sans sherif";
}
/*Partie Membres
******************************/


/*Fin Partie Membres
******************************/

/*FIN PARTIE BACKEND
************************/

/*IMAGES DE FOND
************************/
.container-index{
	background-image: url("/Web/images/forest_one.jpg");
	background-repeat: no-repeat;
	background-position: bottom;
}

.container-fight{
	background-image: url("/Web/images/fight_one.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.container-chest{
	background-image: url("/Web/images/chest.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.container-village{
	background-image: url("/Web/images/village.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.container-under{
	background-image: url("/Web/images/under.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.container-fountain{
	background-image: url("/Web/images/fountain.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.container-gate{
	background-image: url("/Web/images/gate.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.container-impasse{
	background-image: url("/Web/images/impasse.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.container-finish{
	background-image: url("/Web/images/endgame.jpg");
	background-repeat: no-repeat;
	background-position: center;
}



/*FIN IMAGES DE FOND
*************************/

